header {
  background-color: white;
  position: fixed;
  z-index: 999;
}
.header {
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px 30px;
  background-color: white;
  border-bottom: 1px solid #f8e2cb;
  z-index: 999;
}

header nav {
  margin-right: 100px;
}

header img {
  max-width: 100%;
  width: 120px;
}

.search-icon {
  max-width: 30px;
  background-color: #f6b913;
  padding: 5px;
  border-radius: 6px;
}

.flag-icon {
  max-width: 25px;
  object-fit: cover;
  background-color: #fff;
  border-radius: 3px;
}

.switch-icon {
  max-width: 18px;
}

li {
  margin-left: 50px;
  list-style: none;
}

.header-ic {
  gap: 10px;
  align-items: center;
}

.language {
  align-items: center;
  gap: 5px;
  border-radius: 6px;
  font-size: 15px;
  padding: 6px;
  border: 1.5px solid rgba(7, 16, 43, 0.7);
}

.menu-toggle {
  display: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 3px;
  border: 1.5px solid rgba(7, 16, 43, 0.7);
}

.menu-toggle img {
  width: 24px;
}

.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 998;
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu a {
  font-size: 16px;
}

.hidden-nav-li {
  margin-left: 0px;
  width: 100%;
  text-align: center;
  border-top: 1.5px solid #eeeeee;
  border-bottom: 1.5px solid #eeeeee;
  padding: 10px 0;
}

.mobile-menu.active {
  max-height: 200px;
}

/* ფუტერი */
footer {
  background-color: #07102b;
}
.footer {
  padding: 20px;
  background-color: #07102b;
  color: #fff;
  max-width: 1440px;
  margin: 0 auto;
  max-width: 1440px;
}

.div-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-logo {
  max-width: 130px;
  max-height: 70px;
}

.contact {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  gap: 30px;
}

.a-footer-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 6px;
  padding: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
  background-color: transparent;
  color: white;
}

.footer-icons-contact {
  width: 20px;
  height: 20px;
}

.p-footer-contact {
  font-size: 16px;
}

.a-footer-contact:hover {
  background-color: white;
}

.a-footer-contact:hover .footer-icons-contact {
  filter: brightness(0);
}

.a-footer-contact:hover .p-footer-contact {
  color: black;
}

.footer-right {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.a-nav {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.a-FAQ-nav {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.title-h6 {
  margin-bottom: 10px;
  font-size: 18px;
}

.line {
  height: 1px;
  background-color: white;
  width: 100%;
  opacity: 50%;
  margin: 10px 0;
}

.underline-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.p-underline-footer {
  font-size: 16px;
}

.footer-icon-box {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.footer-link-img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.footer-facebook-link-img {
  width: 14px;
  height: 20px;
  transition: transform 0.3s ease;
}

.footer-icon-box:hover {
  background-color: white;
}

.footer-icon-box:hover .footer-link-img,
.footer-icon-box:hover .footer-facebook-link-img {
  filter: brightness(0) saturate(100%);
}
