header {
  justify-content: space-between;
  align-items: center;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
  padding: 5px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
header nav {
  margin-right: 100px;
}
header img {
  max-width: 100%;
  width: 120px;
}
.search-icon {
  max-width: 20px;
}
.flag-icon {
  max-width: 30px;
}
li {
  margin-left: 50px;
  list-style: none;
}
.header-ic {
  gap: 30px;
}
.srch {
  gap: 10px;
}
/* ფუტერი */

footer{
  padding: 40px;
  background-color:#07102B;
  color: #fff;
}
.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo {
  max-width: 100%;
  width: 120px;
}

.logo {
  margin-bottom: 20px;
}

.contact {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 20px;
}

.div-contact{
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-img{
  width: 20px;
  height: 20px;
}

.footer-right {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title-h6 {
  margin-bottom: 10px;
  font-size: 20px;
}

.line {
  height: 1px;
  background-color: white; 
  width: 100%;
  opacity: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.underline-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a-social{
  text-decoration: none;
}

.img-social{
  width: 20px;
  height: 20px;
}