header {
  justify-content: space-between;
  align-items: center;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
  padding: 10px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
header nav {
  margin-right: 100px;
}
header img {
  max-width: 100%;
  width: 120px;
}
.search-icon {
  max-width: 20px;
}
.flag-icon {
  max-width: 30px;
}
li {
  margin-left: 50px;
  list-style: none;
}
.header-ic {
  gap: 30px;
}
.srch {
  gap: 10px;
}
/* ფუტერი */
.footer {
  background-color: #1e1e1ee3;
  margin: 40px auto 0 auto;
}
.footer-logo {
  max-width: 100%;
  width: 180px;
}
.div-flex {
  display: flex;
  align-items: center;
  gap: 100px;
}

.div-footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.a-nav {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

.div-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
  padding-bottom: 40px;
}

.a-social {
  text-decoration: none;
}

.img-social {
  width: 36px;
  height: 36px;
}
