* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div-filter {
  padding: 0 30px;
}

.filter-icon {
  width: 25px;
  height: 25px;
}

.industry-toggle:hover,
.region-toggle:hover,
.business-toggle:hover,
.financing-toggle:hover,
.filter-title:hover,
.data-toggle:hover {
  background-color: #f5c235;
}

.filter-tag {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.filter {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.div-all-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-financing-container {
  text-wrap: nowrap;
}

.input-filter {
  border-radius: 1px;
  border: 1px solid #a3a3a3;
}

/* ღილაკი ტელეფონისთვის */

.filter-button{
  display: none;
  border-radius: 8px;
  cursor: pointer;
  border:  1px solid #F5C235;
  width: 44px;
  height: 50px;
  padding: 10px 20px;
}

.filter-img{
  width: 24px;
  height: 24px;
}

.hidden-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  right: 165px;
  z-index: 1000;
  background-color: white;
  padding: 10px 0;
}

.line-touch{
  width: 41px;
  border: 2px solid rgba(0, 0, 0, 0.37);
  border-radius: 2px;
  margin-bottom: 5px;
}

.p-mobile-filter{
  font-size: 18px;
}

/* სეარჩი */

.div-search {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f5c235;
  border-radius: 8px;
  padding-left: 5px;
  max-width: 270px;
  max-height: 50px;
  background-color: white;
}

.search-input {
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 16px;
  max-width: 90%;
}

#selectedTags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* ტეგები */

#selectedTags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 0 40px;
}

.tag {
  background-color: rgba(252, 72, 168, 0.5);
  color: black;
  font-size: 14px;
  padding: 7px 10px;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.tag button {
  margin-left: 10px;
  font-size: 14px;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

/* ინდუსტრია */

.industry-toggle {
  background-color: rgba(245, 194, 53, 0.5);
  border-radius: 8px;
  padding: 15px 20px;
  border: none;
  text-align: left;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  font-size: 14px;
  color: black;
}

.industry-toggle::after {
  content: "❯";
  position: absolute;
  right: 7px;
  font-size: 14px;
  color: black;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.industry.active .industry-toggle::after {
  transform: rotate(-90deg);
}

.industry-content {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  display: none;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ddd;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
}

.industry-content label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.active .industry-content {
  display: block;
  position: absolute;
}

/* ტექნოლოგია */

.technology-toggle {
  background-color: rgba(245, 194, 53, 0.5);
  border-radius: 8px;
  padding: 15px 20px;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  transition: all 0.3s ease;
  color: black;
}

.technology-toggle::after {
  content: "❯";
  position: absolute;
  right: 7px;
  font-size: 14px;
  color: black;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.technology.active .technology-toggle::after {
  transform: rotate(-90deg);
}

.technology-content {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  display: none;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ddd;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
}

.technology-content label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.active .technology-content {
  display: block;
  position: absolute;
}

/* კატეგორიები */

.filter-title {
  background-color: rgba(245, 194, 53, 0.5);
  border-radius: 8px;
  padding: 15px 20px;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  transition: all 0.3s ease;
  color: black;
}

.filter-title::after {
  content: "❯";
  position: absolute;
  right: 7px;
  font-size: 14px;
  color: black;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}
.filter-box.active .filter-title::after {
  transform: rotate(-90deg);
}

.category {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  display: none;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ddd;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
}

.filter-box.active .category {
  display: block;
  position: absolute;
}

.main-category {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 15px;
  font-size: 18px;
  font-weight: 500;
}

.subcategory-group {
  margin-left: 30px;
}

.subcategory {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* დაფინასების წყარო */

.financing-toggle {
  background-color: rgba(245, 194, 53, 0.5);
  border-radius: 8px;
  padding: 15px 20px;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  transition: all 0.3s ease;
  color: black;
}

.financing-toggle::after {
  content: "❯";
  position: absolute;
  right: 7px;
  font-size: 14px;
  color: black;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.financing.active .financing-toggle::after {
  transform: rotate(-90deg);
}

.financing-content {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  display: none;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ddd;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
}

.financing-content label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.active .financing-content {
  display: block;
  position: absolute;
}

/* ბიზნეს მოდელი */

.business-toggle {
  background-color: rgba(245, 194, 53, 0.5);
  border-radius: 8px;
  padding: 15px 20px;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  transition: all 0.3s ease;
  color: black;
}

.business-toggle::after {
  content: "❯";
  position: absolute;
  right: 7px;
  font-size: 14px;
  color: black;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.business.active .business-toggle::after {
  transform: rotate(-90deg);
}

.business-content {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  display: none;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ddd;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
}

.business-content label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.active .business-content {
  display: block;
  position: absolute;
}

/* რეგიონი */

.region-toggle {
  background-color: rgba(245, 194, 53, 0.5);
  border-radius: 8px;
  padding: 15px 20px;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  transition: all 0.3s ease;
  color: black;
}

.region-toggle::after {
  content: "❯";
  position: absolute;
  right: 7px;
  font-size: 14px;
  color: black;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.region.active .region-toggle::after {
  transform: rotate(-90deg);
}

.region-content {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  display: none;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ddd;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
}

.region-content label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.active .region-content {
  display: block;
  position: absolute;
}

/* წელი */

.data-toggle {
  background-color: rgba(245, 194, 53, 0.5);
  border-radius: 8px;
  padding: 15px 20px;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  transition: all 0.3s ease;
  color: black;
}

.data-toggle::after {
  content: "❯";
  position: absolute;
  right: 7px;
  font-size: 14px;
  color: black;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.data-filter.active .data-toggle::after {
  transform: rotate(-90deg);
}

.data-content {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  display: none;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ddd;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
}

.data-content label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.active .data-content {
  display: block;
  position: absolute;
}