@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueGeoCaps";
  src: url("../fonts/helvetica-neue-lt-geo-55-roman-caps.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ვიზუალი მოდალის გახსნამდე*/
.onscreen {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.filter {
  display: flex;
  background-color: #f9d881;
  border: 1px solid #f5c235;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}
.filter2 {
  display: none;
  background-color: #f9d881;
  border: 1px solid #f5c235;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}
.filter-ic {
  cursor: pointer;
  max-width: 30px;
  max-height: 30px;
}
.filter-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.filter-modal-content {
  background: white;
  width: 90%;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 0 20px;
  border-radius: 30px;
  position: relative;
  max-width: 900px;
}
.modal-h {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 0;
}
.flex-h5-markall{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.modal-h4 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}
.mark-all{
  color: rgba(7, 16, 43, 0.5);
  font-size: 14px;
}
.div-search {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #f5c235;
  border-radius: 8px;
  padding: 11.5px;
  width: 100%;
  background-color: white;
}
.search-input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}
.frame-icon{
  width: 18px;
  height: 18px;
}
.modal-label {
  padding: 10px;
  border-radius: 30px;
  background-color: #dee6f2;
  margin-right: 10px;
}
.close-filter {
  position: absolute;
  top: 12px;
  right: 18px;
  font-size: 26px;
  font-weight: bold;
  color: #444;
  cursor: pointer;
}
.filter-group {
  margin-bottom: 20px;
  padding-bottom: 30px;
  overflow-x: auto;
}
.filter-group input[type="number"],
.filter-group input[type="text"] {
  width: 48%;
  padding: 8px;
  margin-right: 4%;
  margin-bottom: 8px;
}

.hidden {
  display: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.filter:active {
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.text-search {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  width: 310px;
  border-radius: 30px;
}
.selectable {
  padding: 8px 12px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  margin: 4px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 15px;
  background-color: white;
  gap: 5px;
}

.selectable.selected {
  background-color: #fc48a833;
  color: rgb(0, 0, 0);
  border: 1px solid #fc48a880;
}
.selectable:hover {
  border: 1px solid #fc48a880;
}
.filter-group {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 20px;
}
.erase {
  cursor: pointer;
  font-size: 16px;
  color: #717B9A;
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: transparent;
  padding: 10px;
}
.erase:hover {
  background-color: #F6F6F6;
}
.apply-filter {
  background-color: #f5c235;
  color: rgb(0, 0, 0);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  width: 160px;
  height: 50px;
}
.selectable img,
.modal-h5 img {
  max-width: 20px;
  max-height: 20px;
}
.selectable,
.modal-h5 {
  display: inline-flex;
  max-width: max-content;
  text-wrap: nowrap;
}
.modal-h5 {
  display: flex;
  margin: 20px 0px;
  font-size: 17px;
  align-items: center;
  margin-top: 40px;
  font-weight: 100;
  gap: 5px;
}
.hidden {
  display: none;
}
.show-more-btn {
  display: flex;
  color: #444;
  cursor: pointer;
  font-size: small;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
}
.show-more-btn img {
  max-width: 15px;
  max-height: 15px;
}
.drag-handle {
  width: 40px;
  height: 5px;
  background: #ccc;
  border-radius: 5px;
  margin: 10px auto;
  cursor: grab;
}

/* ტეგები */

#selectedTags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 0 40px;
}

.tag {
  background-color: rgba(252, 72, 168, 0.5);
  color: black;
  font-size: 14px;
  padding: 7px 10px;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.tag button {
  margin-left: 10px;
  font-size: 14px;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

/* დაფიქსირებული ობიექტები */

.fixed-modal {
  position: sticky;
  top: 0;
  background: white;
  width: 100%;
  z-index: 10;
  padding: 10px 20px ;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: 0;
  background: white;
  z-index: 10;
  padding: 20px;
}
.mark-all.deselect-mode {
  color: #C8102E;
  font-weight: bold;
}