/* ტელეფონისთვის */

@media (max-width: 320px), (max-width: 375px), (max-width: 425px) {
  .head-nav {
    display: none;
  }

  .menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-right {
    gap: 10px;
    align-items: center;
  }

  .breadcrumb {
    display: none;
  }

  .arrow {
    display: none;
  }

  /* footer */

  .div-footer {
    flex-direction: column;
    gap: 0px;
  }

  .footer-logo {
    width: 100px;
    height: 40px;
  }

  .logo {
    margin-bottom: 10px;
  }

  .footer-right {
    justify-content: space-between;
    gap: 0px;
  }

  .a-nav {
    font-size: 14px;
  }

  .a-FAQ-nav {
    font-size: 14px;
    max-width: 121px;
  }

  .title-h6 {
    font-size: 16px;
  }

  .contact {
    justify-content: space-between;
    gap: 0px;
  }

  .footer-icons-contact {
    width: 14px;
    height: 14px;
  }

  .a-footer-contact {
    gap: 1px;
  }

  .line {
    margin: 10px 0;
  }

  .p-underline-footer {
    font-size: 12px;
  }

  .footer-icon-box {
    width: 25px;
    height: 25px;
  }

  .footer-link-img {
    width: 13px;
    height: 13px;
  }

  .footer-facebook-link-img {
    width: 10px;
    height: 15px;
  }

  /* ჩვენს შესახებ */

  .about-us-img-container {
    margin: 70px 0 30px;
  }

  .about-us-img {
    max-width: 400px;
    width: 100%;
    height: 150px;
  }

  .section-aboutus-layout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .article-aboutus-layout {
    gap: 20px;
  }

  /* კონტაქტი */

  .contact-layout {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin: 75px 0 20px;
  }

  /* ხდკ */

  .FAQ-layout {
    flex-direction: column;
    margin: 80px 0 10px;
    gap: 30px;
  }

  .FAQ-img {
    max-width: 200px;
    max-height: 200px;
  }

  .FAQ-h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .FAQ-p {
    font-size: 14px;
  }

  .FAQ-a {
    font-size: 14px;
  }

  .question {
    padding: 15px;
    font-size: 16px;
  }

  .answer {
    font-size: 14px;
  }

  .qa.active .answer {
    padding: 0 10px;
  }
}

@media (max-width: 768px) and (min-width: 426px) {

  /* მთავარი გვერდი */

  .head-nav {
    display: none;
  }

  .menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-right {
    gap: 10px;
    align-items: center;
  }

  .breadcrumb {
    display: unset;
  }

  /* რუკა */

  .map {
    flex-direction: column;
    height: unset;
    margin: 20px;
  }

  .startup-card {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 5px;
    margin-bottom: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 767px;
  }
  #startup-box {
    max-width: 767px;
    width: 100%;
    display: flex;
    gap: 10px;
    padding-top: 10px;
  }

  #container {
    height: 300px;
    flex: unset;
    border: unset;
    border-bottom: 2px solid #e0e0e0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .startup-info p {
    margin: 4px 0 0;
    font-size: 9px;
    text-wrap: nowrap;
  }
  .startup-info h4 {
    margin: 0;
    font-size: 10px;
    font-weight: 600;
  }
  .startup-card img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .highcharts-root {
    width: unset;
    height: unset;
    max-width: 500px;
    max-height: 320px;
  }
}

@media (max-width: 767px) and (min-width: 330px) {
  .hidden-title {
    display: flex;
  }
  .card {
    max-height: 250px;
  }
  .card h3,
  .card button {
    display: none;
  }
  .slider {
    margin-top: 80px;
    margin-bottom: 50px;
  }
  .card h3 {
    display: none;
  }
  .card::before {
    display: none; /*ეს დასაზუსტებელია*/
  }
  .logo-slider::after,
  .logo-slider::before {
    background: unset;
  }
  .logo-slider {
    padding: unset;
  }
  .slider-track img {
    max-width: 100px;
  }
}

/* მთავარი გვერდის სტარტაპები */
@media (max-width: 768px) and (min-width: 320px) {
  .article-startups {
    max-width: 200px;
    max-height: 110px;
    padding: 5px;
    gap: 10px;
  }
  .img-startups {
    max-width: 70px;
    max-height: 70px;
  }
  h5 {
    font-size: 15px;
  }
  .startups-layout-container {
    padding: 0 10px;
  }
  .card-startups {
    gap: unset;
    row-gap: 20px;
  }
  .desc {
    font-size: 13px;
  }
  .button {
    font-size: 13px;
  }
  .h2-start {
    font-size: 18px;
    margin-left: 20px;
  }
  .h2-map {
    font-size: 18px;
    margin-left: 20px;
  }
}

@media (max-width: 426px) and (min-width: 320px) {
  .startup-card {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 5px;
    margin-bottom: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 767px;
  }
  .startup-info p {
    margin: 4px 0 0;
    font-size: 9px;
    text-wrap: nowrap;
  }
  .startup-info h4 {
    margin: 0;
    font-size: 10px;
    font-weight: 600;
  }
  #container {
    height: 300px;
    flex: unset;
    border: unset;
    border-bottom: 2px solid #e0e0e0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .highcharts-root {
    width: unset;
    height: unset;
    width: 100%;
  }

  .map {
    max-width: 420px;
    max-height: 400px;
    margin: 15px;
  }
  .startup-box {
    display: flex;
  }
  #startup-box {
    max-width: 467px;
    width: 100%;
    display: flex;
    gap: 10px;
    padding-top: 10px;
  }
  .startup-card {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 5px;
    margin-bottom: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 767px;
  }
}

/* ფუტერი */

@media (max-width: 768px) and (min-width: 426px) {
  .div-footer {
    flex-direction: column;
    gap: 0px;
  }

  .footer-logo {
    width: 100px;
    height: 40px;
  }

  .logo {
    margin-bottom: 10px;
  }

  .footer-right {
    justify-content: space-evenly;
    gap: 0px;
  }

  .a-nav {
    font-size: 15px;
  }

  .a-FAQ-nav {
    font-size: 15px;
    max-width: 130px;
  }

  .title-h6 {
    font-size: 17px;
  }

  .contact {
    justify-content: space-evenly;
    gap: 1px;
  }

  .a-footer-contact {
    gap: 5px;
  }

  .footer-icons-contact {
    width: 15px;
    height: 15px;
  }

  .p-footer-contact {
    font-size: 13px;
  }

  .line {
    margin: 10px 0;
  }

  .p-underline-footer {
    font-size: 13px;
  }

  .footer-icon-box {
    width: 30px;
    height: 30px;
  }

  .footer-link-img {
    width: 15px;
    height: 15px;
  }

  .footer-facebook-link-img {
    width: 12px;
    height: 17px;
  }

  /* ხდკ */

  .FAQ-layout {
    flex-direction: column;
    margin: 40px 0 20px;
    gap: 30px;
  }

  .FAQ-img {
    max-width: 200px;
    max-height: 200px;
  }

  .FAQ-h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .FAQ-p {
    font-size: 14px;
  }

  .FAQ-a {
    font-size: 14px;
  }

  .question {
    padding: 15px;
    font-size: 16px;
  }

  .answer {
    font-size: 14px;
  }

  .qa.active .answer {
    padding: 0 10px;
  }

  /* ჩვენს შესახებ */

  .about-us-img-container {
    margin: 60px 0 30px;
  }

  .about-us-img {
    max-width: 768px;
    height: 250px;
  }

  .section-aboutus-layout {
    gap: 10px;
  }

  .p-article {
    gap: 20px;
  }

  /* კონტაქტი */

  .contact-img {
    max-width: 700px;
    max-height: 300px;
  }

  .contact-layout {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin: 60px 0 20px;
  }
}

@media (max-width: 911px) and (min-width: 769px) {
  .head-nav {
    display: none;
  }

  .menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-right {
    gap: 10px;
    align-items: center;
  }
}

/* ფუტერი */

@media (max-width: 425px) and (min-width: 376px) {
  .article-aboutus-layout {
    padding: 20px;
  }
}

@media (max-width: 375px) and (min-width: 320px) {
  .article-aboutus-layout {
    padding: 15px;
  }
}

@media (max-width: 320px) {
  .article-aboutus-layout {
    padding: 4px;
  }
}

@media (max-width: 791px) and (min-width: 769px) {
  .footer-right {
    justify-content: space-between;
    gap: 70px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .breadcrumb {
    padding-top: 50px;
  }

  .filter-tag {
    margin-top: 15px;
  }
}

/* ხდკ */

@media (max-width: 1008px) and (min-width: 843px) {
  .qa.active .answer {
    height: 80px;
  }
}

@media (max-width: 842px) and (min-width: 769px) {
  .qa.active .answer {
    height: 100px;
  }
}

@media (max-width: 768px) and (min-width: 625px) {
  .qa.active .answer {
    height: 60px;
  }
}

@media (max-width: 493px) and (min-width: 406px) {
  .qa.active .answer {
    height: 90px;
  }
}

@media (max-width: 405px) and (min-width: 350px) {
  .qa.active .answer {
    height: 110px;
  }
}

@media (max-width: 349px) and (min-width: 320px) {
  .qa.active .answer {
    height: 120px;
  }
}

/* კონტაქტი */

@media (max-width: 335px) and (min-width: 320px) {
  .article-contact {
    padding: 20px 30px;
  }
}

@media (max-width: 1278px) and (min-width: 1025px) {
  .contact-img {
    max-width: 800px;
    max-height: 400px;
  }
}

@media (max-width: 1024px) and (min-width: 821px) {
  .contact-img {
    max-width: 700px;
    max-height: 350px;
  }
}

@media (max-width: 820px) and (min-width: 769px) {
  .contact-img {
    max-width: 600px;
    max-height: 300px;
  }
}

/* ფუტერი */

@media (max-width: 425px) and (min-width: 376px) {
  .footer {
    padding: 15px;
  }

  .p-footer-contact {
    font-size: 13px;
  }
}

@media (max-width: 375px) and (min-width: 336px) {
  .footer {
    padding: 10px;
  }

  .p-footer-contact {
    font-size: 12px;
  }
}

@media (max-width: 336px) and (min-width: 326px) {
  .footer {
    padding: 5px;
  }

  .p-footer-contact {
    font-size: 12px;
  }
}

@media (max-width: 325px) and (min-width: 320px) {
  .footer {
    padding: 5px;
  }

  .p-footer-contact {
    font-size: 11px;
  }
}

@media (max-width: 350px) and (min-width: 320px) {
  .title-h6 {
    font-size: 15px;
  }
}

/* სტარტაპ პროფილის რესპონსიულობა */
@media (max-width: 767px) and (min-width: 320px) {
  .visual {
    margin: 20px;
    flex-direction: column;
  }
  .visual-img {
    max-width: 140px;
    max-height: 140px;
  }
  .tags-box {
    margin-top: 10px;
  }
  .data {
    max-width: 750px;
    width: 100%;
    margin: 10px;
    margin-right: unset;
  }
  .description {
    margin: 20px;
  }
}

/* ჩვენს შესახებ */

@media (max-width: 584px) and (min-width: 320px) {
  .section-aboutus-layout {
    flex-direction: column;
  }
}

@media (max-width: 547px) and (min-width: 320px) {
  .contact-aboutus-container {
    justify-content: space-between;
    gap: 0px;
  }
}

@media (max-width: 527px) and (min-width: 426px) {
  .article-aboutus-layout {
    padding: 20px;
  }

  .a-aboutus-contact {
    gap: 1px;
    padding: 5px;
  }

  .img-contact-png {
    width: 15px;
    height: 15px;
  }
  .p-aboutus-contact {
    font-size: 14px;
  }
}

@media (max-width: 425px) and (min-width: 351px) {
  .article-aboutus-layout {
    padding: 15px;
  }

  .a-aboutus-contact {
    gap: 1px;
    padding: 5px;
  }

  .img-contact-png {
    width: 15px;
    height: 15px;
  }
  .p-aboutus-contact {
    font-size: 12px;
  }
}

@media (max-width: 375px) and (min-width: 351px) {
  .article-aboutus-layout {
    padding: 5px;
  }
}

@media (max-width: 350px) and (min-width: 320px) {
  .article-aboutus-layout {
    padding: 5px;
  }

  .a-aboutus-contact {
    gap: 1px;
    padding: 1px;
  }

  .img-contact-png {
    width: 12.5px;
    height: 12.5px;
  }
  .p-aboutus-contact {
    font-size: 12px;
  }
}

/* სტარტაპების ფილტრი */

@media (max-width: 1024px) and (min-width: 320px) {

  .two-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .search-button{
    display: none;
  }

  .reset-button{
    display: none;
  }
  
  .div-search-clear{
    flex-direction: column;
    margin-bottom: 10px;
  }

  .div-search {
    width: 500px;
  }

  .filter-button {
    display: flex;
    align-items: center;
  }

  .filter {
    padding: 0 10px;
  }

  .div-filter {
    display: flex;
    justify-content: flex-end;
  }

  .search {
    width: 18px;
    height: 18px;
  }

  #selectedTags {
    margin-top: 0px;
    padding: 0 10px;
  }

  .modal-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }

  .mobile-filter-modal {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 600px;
    background: white;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow-y: auto;
    transform: translateY(100%);
    opacity: 1;
    pointer-events: none;
  }

  .mobile-filter-modal.show {
    animation: modalSlideUp 0.3s ease-out forwards;
    pointer-events: auto;
  }

  .mobile-filter-modal.hide {
    animation: modalSlideDown 0.2s ease-in forwards;
    pointer-events: none;
  }
  .hidden-title {
    display: flex;
  }
  @keyframes modalSlideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes modalSlideDown {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
  }

  .div-all-filters {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .active .industry-content,
  .active .technology-content,
  .filter-box.active .category,
  .active .financing-content,
  .active .business-content,
  .active .region-content,
  .active .data-content {
    position: relative;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
  }

  .industry-toggle,
  .technology-toggle,
  .filter-title,
  .financing-toggle,
  .business-toggle,
  .region-toggle,
  .data-toggle {
    width: 500px;
    display: flex;
    justify-content: center;
    background-color: rgba(221, 221, 221, 0.6);
  }

  .industry-content,
  .technology-content,
  .region-content,
  .business-content,
  .financing-content,
  .data-content,
  .category {
    max-width: 500px;
    max-height: 100%;
  }

  .industry-toggle:hover,
  .region-toggle:hover,
  .business-toggle:hover,
  .financing-toggle:hover,
  .filter-title:hover,
  .data-toggle:hover {
    background-color:  rgba(221, 221, 221, 0.6);
  }

  .technology-toggle::after {
    right: 190px;
  }

  .filter-title::after {
    right: 195px;
  }
  
  .industry-toggle::after {
    right: 192px;
  }

  .region-toggle::after {
    right: 203px;
  }

  .business-toggle::after {
    right: 178px;
  }

  .financing-toggle::after {
    right: 163px;
  }

  .data-toggle::after {
    right: 177px;
  }
}

@media (max-width: 768px) and (min-width: 551px) {

  .filter-tag {
    margin-top: 60px;
  }

  .mobile-filter-modal {
    height: 600px;
  }

  .industry-toggle,
  .technology-toggle,
  .filter-title,
  .financing-toggle,
  .business-toggle,
  .region-toggle,
  .data-toggle {
    width: 500px;
  }

  .industry-content,
  .technology-content,
  .region-content,
  .business-content,
  .financing-content,
  .data-content,
  .category {
    max-width: 500px;
  }
}

@media (max-width: 550px) and (min-width: 425px) {

  .filter-tag {
    margin-top: 60px;
  }

  .mobile-filter-modal {
    height: 600px;
  }

  .div-search {
    width: 350px;
  }

  .industry-toggle,
  .technology-toggle,
  .filter-title,
  .financing-toggle,
  .business-toggle,
  .region-toggle,
  .data-toggle {
    width: 350px;
  }

  .industry-content,
  .technology-content,
  .region-content,
  .business-content,
  .financing-content,
  .data-content,
  .category {
    max-width: 350px;
  }

  .technology-toggle::after {
    right: 115px;
  }

  .filter-title::after {
    right: 125px;
  }
  
  .industry-toggle::after {
    right: 120px;
  }

  .region-toggle::after {
    right: 130px;
  }

  .business-toggle::after {
    right: 105px;
  }

  .financing-toggle::after {
    right: 92px;
  }

  .data-toggle::after {
    right: 105px;
  }
}

@media (max-width: 320px), (max-width: 375px), (max-width: 425px){
  
  .filter-tag {
    margin-top: 80px;
  }

  .mobile-filter-modal {
    height: 600px;
  }

  .div-search {
    width: 280px;
  }

  .industry-toggle,
  .technology-toggle,
  .filter-title,
  .financing-toggle,
  .business-toggle,
  .region-toggle,
  .data-toggle {
    width: 280px;
  }

  .industry-content,
  .technology-content,
  .region-content,
  .business-content,
  .financing-content,
  .data-content,
  .category {
    max-width: 280px;
    max-height: 100%;
  }

  .technology-toggle::after {
    right: 82px;
  }

  .filter-title::after {
    right: 89px;
  }
  
  .industry-toggle::after {
    right: 86px;
  }

  .region-toggle::after {
    right: 96px;
  }

  .business-toggle::after {
    right: 70px;
  }

  .financing-toggle::after {
    right: 58px;
  }

  .data-toggle::after {
    right: 70px;
  }
}