* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ზოგადი სტილები */
body {
  max-width: 100%;
  background-color: #f3d27714;
}
a {
  text-decoration: none;
  color: inherit;
}
.flex {
  display: flex;
}
img {
  width: 100%;
}
section {
  margin: 10px;
}
/* სლაიდერის სტილები */
.slider {
  margin: 30px 0;
}

.swiper {
  width: 100%;
  max-width: 1200px;
  padding: 40px 0;
  margin: 0 auto;
  overflow: visible;
}

.swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  opacity: 0.4;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1.03);
  z-index: 2;
}

.card {
  color: white;
  border-radius: 20px;
  padding: 2rem;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  z-index: 1;
}

.card h3,
.card button {
  position: relative;
  z-index: 2;
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card button {
  width: 100px;
  background: #f1c40f;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px !important;
  padding: 30px !important;
  background-color: #67676787;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
}
/* სტარტაპები */
.h2-start {
  margin: 30px 0;
  font-size: 25px;
  margin-left: 50px;
}

.card-startups {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.article-startups {
  transition: transform 0.3s ease;
  max-width: 400px;
  max-height: 100px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  border-radius: 15px;
}

.img-startups {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
h5 {
  margin: 10px 0px;
  font-size: 18px;
}

.a-news {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
}

.article-startups:hover .hover {
  display: flex;
}

.article-startups:hover {
  transform: scale(1.05);
}

.button-wrapper {
  text-align: center;
}

/* მეტის ნახვა */
.button {
  margin: 50px 0px;
  background-color: #f5c235;
  color: black;
  padding: 8px 16px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  align-content: center;
}

.button:hover {
  background-color: #fdba00;
}

/* ჩვენს შესახებ */

.breadcrumb {
  font-size: 20px;
  color: #444;
  margin-top: 30px;
  margin-left: 40px;
  padding-top: 70px;
}

.return {
  text-decoration: none;
  color: #000000;
}

.separator {
  margin: 0 10px;
}

.current {
  color: #757575;
}

.about-us-img-container {
  text-align: center;
  margin: 50px 40px;
}

.about-us-img {
  max-width: 1200px;
  width: 100%;
  height: 450px;
  border-radius: 24px;
  object-fit: cover;
}

.p-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 40px;
}

.contact-aboutus-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px 0 0 40px;
}

.a-aboutus-contact-phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 140px;
  height: 36px;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.a-aboutus-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 160px;
  height: 36px;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.a-aboutus-contact-phone:hover {
  background-color: #ffffff;
}

.a-aboutus-contact:hover {
  background-color: #ffffff;
}

.img-contact-png {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.p-aboutus-contact {
  font-size: 16px;
  color: #000000;
  transition: transform 0.3s ease;
}

.aboutus-social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 10px 0 100px 40px;
}

.icon-box {
  background-color: #f5c23561;
  border-radius: 6px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.facebook-icon-aboutus {
  width: 12px;
  height: 20px;
  transition: transform 0.3s ease;
}
.icons-aboutus {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.icon-box:hover {
  background-color: #ffffff;
}

/* კონტაქტი */

.contact-container {
  display: flex;
  justify-content: space-around;
  margin: 50px 0 0 40px;
}

.article-contact {
  display: flex;
}

.icon-and-text {
  display: flex;
  gap: 15px;
}

.img-icon-contact {
  width: 32px;
  height: 32px;
}

.text-section {
  display: flex;
  flex-direction: column;
}

.h3-conctract {
  color: rgba(7, 16, 43, 1);
  font-size: 24px;
  margin: 0 0 30px 0;
}

.div-contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.soc-net-section {
  margin: 100px 0 200px 40px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.a-social {
  text-decoration: none;
}

.img-social {
  width: 32px;
  height: 32px;
}

/* მთავარის სტარტაპები */
#startup-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-evenly;
  padding: 20px;
}

.startup-card {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.startups-layout-container {
  margin: 50px 10px;
}

/* ხდკ */

.FAQ-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px 40px;
  gap: 100px;
}

.FAQ-img {
  max-width: 300px;
  max-height: 300px;
}

.FAQ-h1 {
  color: #07102b;
  font-size: 40px;
  margin-bottom: 20px;
}
.div-cu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.cu-img {
  width: 19px;
  height: 19px;
}

.FAQ-p {
  color: #07102b;
  font-size: 16px;
}

.faq {
  max-width: 760px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
}

.qa {
  border-top: 1px solid #ddd;
  background: #ffffff;
  transition: background 0.3s ease;
}

.qa:first-child {
  border-top: none;
}

.qa:hover {
  background: #f5f5f5;
}

.question {
  padding: 20px 20px;
  max-height: 70px;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  color: #000000;
}

.question::after {
  content: "›";
  position: absolute;
  right: 20px;
  font-size: 20px;
  color: black;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.qa.active .question::after {
  transform: rotate(-90deg);
}

.answer {
  height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 30px 0 20px;
  transition: all 0.5s ease;
}

.qa.active .answer {
  opacity: 1;
  max-height: 70px;
  padding: 0 29px 15px 20px;
}
/* logo slider */
.logo-slider {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: #f3d27700;
  padding: 20px 0;
}

.logo-slider::before,
.logo-slider::after {
  content: "";
  position: absolute;
  top: 0;
  width: 400px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.logo-slider::before {
  left: 0;
  background: linear-gradient(to right, #fef9f3, transparent);
}

.logo-slider::after {
  right: 0;
  background: linear-gradient(to left, #fef9f3, transparent);
}

.slider-track {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 20s linear infinite;
}

.slider-track img {
  max-width: 140px;
  max-height: 60px;
  margin: 0 30px;
  vertical-align: middle;
}

.apple {
  max-width: 30px !important;
  max-height: 35px !important;
}

.logo-slider:hover .slider-track {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* სტარტაპ პროფილი */
.startup-profile {
  margin: 50px;
  justify-content: space-around;
  align-items: flex-start;
}
.star {
  max-width: 70%;
}
.visual img {
  max-width: 200px;
  border-radius: 20px;
}
.visual {
  gap: 30px;
}
h3 {
  margin-bottom: 30px;
}
.description {
  margin: 50px 0px;
}
.data {
  max-width: 250px;
  width: 250px;
  height: 300px;
  background-color: white;
  border: 1px solid #00000039;
  border-radius: 15px;
}
